*{
  padding:0;
  margin:0;
  box-sizing: border-box;
}
/******NAVBAR******/
.nav-item{
  text-align: center;
}
.navbar-brand{
  font-size: xx-large;  
}
.navbar{
  background-color: grey;
}
.navbar .nav-item{
  background-color: white;
}

.seperation-line{
  margin:0;
}


/******END of NAVBAR****/


/********Main content***/

.menu-item{
min-height:1000px;
margin:auto;
background-color: grey;
}
.menu-item p{
  text-align: justify;
  font-size: 16px;
}

#main-content h1{
  text-align: center;
  padding-bottom: 50px;
  padding-top: 50px;
}

#Chicken{
  text-align: center;
  padding-bottom:10px ;
  font-weight: bold;
  font-size: 1.5em;
}

@media (max-width: 575px){
  .menu-item p{
    margin-left: 20px;
    margin-right:20px
  }
}